/* Estilo Checkbox Tema Escuro (FiltrosLaterais) */
.painel-filtros-steam .ant-checkbox-wrapper {
  color: #8f98a0 !important;
  font-size: 15px;
}
.painel-filtros-steam .ant-checkbox-wrapper:hover {
  color: #fff !important;
}
.painel-filtros-steam .ant-checkbox-inner {
  background-color: #1a1f26 !important;
  border-color: #2a475e !important;
}
.painel-filtros-steam .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #66c0f4 !important;
  border-color: #66c0f4 !important;
}
.painel-filtros-steam .ant-radio-inner {
  background-color: #1a1f26 !important;
  border-color: #2a475e !important;
}
